<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" type="text/css" />
  <link rel="stylesheet" href="{{ static_url("css/flat-ui.css") }}" type="text/css" />
  <link rel="stylesheet" href="{{ static_url("css/app.css") }}" type="text/css" />
   {% block styles %}{% endblock %} 
   <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.js"></script>
   {% block scripts %}{% endblock %} 
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">{{ settings['app_name'] }}</a>
        <ul class="nav">
          <li><a href="/">首页</a></li>
        </ul>
        <ul class="nav pull-right">
          {% if not current_user %}
          <li><a href="{{ giturl }}">Github登陆</a></li>
          <li><a href="/register">注册</a></li>
          {% else %}
          <li>{{ current_user|user_name_tag }} </li>
          <li><a href="/settings">个人设置</a></li>
          <li><a href="/logout">退出</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div id="main" class="container">
    <div class="row">
      <div class="span9">
        {% block body %}{% endblock %}  
      </div>
      <div class="span3">
        {% block sidebar %}{% endblock %}
      </div>
    </div>
  </div>


  <footer>
    <center>
      <p class="copyright">
        &copy; {{ settings['app_name'] }}
      </p>
    </center>
  </footer>
  {% block bottom %}{% endblock %}
</body>
</html>
