{% extends "base.html" %} {% block body %}

<div class="row">
    {% if repos %}
    <h1 style="text-align:center;margin:60px 50px 30px;">Your repo list</h1>
    <ul class="fa-ul" style="margin: 0 auto;font-size: 30px; width: 100px;">
            {% for repo in repos %}
            <li><i class="fa-li fa fa-book fa-lg"></i><a href="{{ repo['url'] }}">{{ repo['reponame'] }}</a></li>
            {% end %}
    </ul>
    {% end %}

    {% if error_msg %}
        <div style="margin: 50px 100px 30px;text-align:center;" class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h1>{{ error_msg }}</h1>
        </div>
        <div style="margin: 200px 300px 30px;text-align:center;">
           <a href="/add" class='btn btn-info btn-lg' role='button'>
                <i class='fa fa-github-alt'></i> Add Now
           </a>
        </div>

    {% end %}


</div>

{% end %}
